html {
  line-height: 1.5;
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

header {
  background-color: #79756f;
  border-top: 4px solid #595652;
  border-bottom: 4px solid #595652;
}

h1 {
  color: #fff;
  font-family: 'Bevan', sans-serif;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  margin-top: .2em;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  list-style-type: inherit;
  color: #fff;
  background-color: #713837;
  border-radius: 4px;
  margin: .3em;
}

a:hover {
  background-color: #f33;
}

nav ul {
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
